/* Font face - start */
/* helvetica neue lt std thin */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-Thin.eot');
  src: url('../fonts/HelveticaNeueLTStd-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Thin.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Thin.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Thin.svg#HelveticaNeueLTStd-Thin') format('svg');
  font-display: swap;
}
/* helvetica neue lt std roman */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 400;
  font-style: normal;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-display: swap;
}
/* helvetica neue lt std italic */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 400;
  font-style: normal;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-Italic.eot');
  src: url('../fonts/HelveticaNeueLTStd-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Italic.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-Italic.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Italic.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Italic.svg#HelveticaNeueLTStd-Italic') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 700;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-Bold.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Bold.svg#HelveticaNeueLTStd-Bold') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold oblique */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 700;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-BoldOblique.eot');
  src: url('../fonts/HelveticaNeueLTStd-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BoldOblique.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BoldOblique.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BoldOblique.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BoldOblique.svg#HelveticaNeueLTStd-BoldOblique') format('svg');
  font-display: swap;
}
/* helvetica neue lt std condensed */
@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-weight: 700;
  font-stretch: condensed;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-BoldCondensed.eot');
  src: url('../fonts/HelveticaNeueLTStd-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensed.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensed.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensed.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensed.svg#HelveticaNeueLTStd-BoldCondensed') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold condensed oblique */
@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-weight: 700;
  font-stretch: condensed;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.eot');
  src: url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BoldCondensedOblique.svg#HelveticaNeueLTStd-BoldCondensedOblique') format('svg');
  font-display: swap;
}
/* Font face - end */
/* Modal - start */
.modal {
  --theme-modal-zindex: 1055;
  --theme-modal-width: 500px;
  --theme-modal-padding: 1rem;
  --theme-modal-margin: 0.5rem;
  --theme-modal-color: ;
  --theme-modal-bg: #fff;
  --theme-modal-border-color: var(--theme-border-color-translucent);
  --theme-modal-border-width: 1px;
  --theme-modal-border-radius: 0.5rem;
  --theme-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --theme-modal-inner-border-radius: calc(0.5rem - 1px);
  --theme-modal-header-padding-x: 1rem;
  --theme-modal-header-padding-y: 1rem;
  --theme-modal-header-padding: 1rem 1rem;
  --theme-modal-header-border-color: var(--theme-border-color);
  --theme-modal-header-border-width: 1px;
  --theme-modal-title-line-height: 1.5;
  --theme-modal-footer-gap: 0.5rem;
  --theme-modal-footer-bg: ;
  --theme-modal-footer-border-color: var(--theme-border-color);
  --theme-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--theme-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--theme-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--theme-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--theme-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--theme-modal-color);
  pointer-events: auto;
  background-color: var(--theme-modal-bg);
  background-clip: padding-box;
  border: var(--theme-modal-border-width) solid var(--theme-modal-border-color);
  border-radius: var(--theme-modal-border-radius);
  outline: 0;
}

.modal-backdrop {
  --theme-backdrop-zindex: 1050;
  --theme-backdrop-bg: #000;
  --theme-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--theme-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--theme-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--theme-modal-header-padding);
  border-bottom: var(--theme-modal-header-border-width) solid var(--theme-modal-header-border-color);
  border-top-left-radius: var(--theme-modal-inner-border-radius);
  border-top-right-radius: var(--theme-modal-inner-border-radius);
}
.modal-header .btn-close {
  padding: calc(var(--theme-modal-header-padding-y) * 0.5) calc(var(--theme-modal-header-padding-x) * 0.5);
  margin: calc(var(--theme-modal-header-padding-y) * -0.5) calc(var(--theme-modal-header-padding-x) * -0.5)
    calc(var(--theme-modal-header-padding-y) * -0.5) auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--theme-modal-title-line-height);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--theme-modal-padding);
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--theme-modal-padding) - var(--theme-modal-footer-gap) * 0.5);
  background-color: var(--theme-modal-footer-bg);
  border-top: var(--theme-modal-footer-border-width) solid var(--theme-modal-footer-border-color);
  border-bottom-right-radius: var(--theme-modal-inner-border-radius);
  border-bottom-left-radius: var(--theme-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--theme-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --theme-modal-margin: 1.75rem;
    --theme-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .modal-dialog {
    max-width: var(--theme-modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-sm {
    --theme-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --theme-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --theme-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
}

#modal-add-review .stars {
  cursor: pointer;
}

#modal-add-review .stars:hover .star path {
  fill: var(--theme-teal) !important;
}

#modal-add-review .stars .star:hover ~ .star path {
  fill: var(--theme-gray-300) !important;
}
/* Modal - end */
/* Buttons - start */
.btn {
  --theme-btn-padding-x: 0.75rem;
  --theme-btn-padding-y: 0.375rem;
  --theme-btn-font-family: ;
  --theme-btn-font-size: 1rem;
  --theme-btn-font-weight: 400;
  --theme-btn-line-height: 1.5;
  --theme-btn-color: var(--theme-body-color);
  --theme-btn-bg: transparent;
  --theme-btn-border-width: 1px;
  --theme-btn-border-color: transparent;
  --theme-btn-border-radius: 0.375rem;
  --theme-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --theme-btn-disabled-opacity: 0.65;
  --theme-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--theme-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--theme-btn-padding-y) var(--theme-btn-padding-x);
  font-family: var(--theme-btn-font-family);
  font-size: var(--theme-btn-font-size);
  font-weight: var(--theme-btn-font-weight);
  line-height: var(--theme-btn-line-height);
  color: var(--theme-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--theme-btn-border-width) solid var(--theme-btn-border-color);
  border-radius: var(--theme-btn-border-radius);
  background-color: var(--theme-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--theme-btn-hover-color);
  background-color: var(--theme-btn-hover-bg);
  border-color: var(--theme-btn-hover-border-color);
}

.btn-primary {
  --theme-btn-color: var(--theme-white);
  --theme-btn-bg: var(--theme-primary);
  --theme-btn-border-color: var(--theme-primary);
  --theme-btn-hover-color: #fff;
  --theme-btn-hover-bg: var(--theme-primary-hover);
  --theme-btn-hover-border-color: var(--theme-primary-hover-border);
}

.btn-secondary {
  --theme-btn-color: var(--theme-white);
  --theme-btn-bg: var(--theme-secondary);
  --theme-btn-border-color: var(--theme-secondary);
  --theme-btn-hover-color: var(--theme-white);
  --theme-btn-hover-bg: var(--theme-secondary-hover);
  --theme-btn-hover-border-color: var(--theme-secondary-hover-border);
}
/* Buttons - end */
/* General - start */
body {
  font-family: 'Helvetica Neue LT Std', var(--theme-font-sans-serif);
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue LT Std Condensed', var(--theme-font-sans-serif);
}

hr {
  color: var(--theme-border-color);
}

#app {
  max-width: var(--theme-container-max-width);
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
}

/* Transitions - start */
.show {
  display: block;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
/* Transitions - end */

.container {
  max-width: var(--theme-container-max-width);
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 0.5rem;
}

.col-auto {
  flex: auto;
  padding: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.link {
  color: var(--theme-link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: var(--theme-link-hover-color);
}

#add-customer-review {
  margin: 0 0 0 auto;
}
.fade {
  transition: opacity 0.15s linear;
}
/* General - end */
/* Starts - start */
.stars {
  display: inline-block;
}

.stars .star {
  height: 1.5rem;
  margin: 0.05rem;
  transition: background-color 0.2s ease-in-out;
}

.stars .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating] .star path {
  fill: var(--theme-teal);
}

.stars[data-rating='0'] .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='0.5'] .star:nth-child(1) ~ .star path,
.stars[data-rating='0.5'] .star:nth-child(1) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='1'] .star:nth-child(1) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='1.5'] .star:nth-child(2) ~ .star path,
.stars[data-rating='1.5'] .star:nth-child(2) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='2'] .star:nth-child(2) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='2.5'] .star:nth-child(3) ~ .star path,
.stars[data-rating='2.5'] .star:nth-child(3) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='3'] .star:nth-child(3) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='3.5'] .star:nth-child(4) ~ .star path,
.stars[data-rating='3.5'] .star:nth-child(4) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='4'] .star:nth-child(4) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='4.5'] .star:nth-child(5) ~ .star path,
.stars[data-rating='4.5'] .star:nth-child(5) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='5'] .star:nth-child(5) ~ .star path {
  fill: var(--theme-gray-300);
}

/* Review */
.review .stars {
  margin-bottom: 0.5rem;
}

.review .stars .star {
  height: 0.8rem;
}

.review .review-title {
  font-size: 1.2rem;
}

.review .review-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--theme-gray-500);
}

.review .review-date {
  font-size: 0.8rem;
  color: var(--theme-gray-400);
  font-weight: 300;
  font-style: italic;
}

.review .review-comment {
  font-size: 0.9rem;
  color: var(--theme-gray-600);
}

/* Ends - start */
/* Forms - start */

.form-group {
  margin-bottom: 1rem;
}
/* Forms - end */
