@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 300;
  font-style: normal;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-Thin.eot');
  src: url('../../fonts/HelveticaNeueLTStd-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-Thin.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-Thin.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-Thin.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-Thin.svg#HelveticaNeueLTStd-Thin') format('svg');
  font-display: swap;
}
/* helvetica neue lt std roman */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 400;
  font-style: normal;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-display: swap;
}
/* helvetica neue lt std italic */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 400;
  font-style: normal;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-Italic.eot');
  src: url('../../fonts/HelveticaNeueLTStd-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-Italic.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-Italic.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-Italic.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-Italic.svg#HelveticaNeueLTStd-Italic') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 700;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-Bold.eot');
  src: url('../../fonts/HelveticaNeueLTStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-Bold.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-Bold.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-Bold.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-Bold.svg#HelveticaNeueLTStd-Bold') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold oblique */
@font-face {
  font-family: 'Helvetica Neue LT Std';
  font-weight: 700;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-BoldOblique.eot');
  src: url('../../fonts/HelveticaNeueLTStd-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-BoldOblique.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-BoldOblique.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-BoldOblique.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-BoldOblique.svg#HelveticaNeueLTStd-BoldOblique') format('svg');
  font-display: swap;
}
/* helvetica neue lt std condensed */
@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-weight: 700;
  font-stretch: condensed;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-BoldCondensed.eot');
  src: url('../../fonts/HelveticaNeueLTStd-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensed.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensed.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensed.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensed.svg#HelveticaNeueLTStd-BoldCondensed') format('svg');
  font-display: swap;
}
/* helvetica neue lt std bold condensed oblique */
@font-face {
  font-family: 'Helvetica Neue LT Std Condensed';
  font-weight: 700;
  font-stretch: condensed;
  font-style: italic;
  src: local('Helvetica Neue');
  src: url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.eot');
  src: url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.woff') format('woff'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLTStd-BoldCondensedOblique.svg#HelveticaNeueLTStd-BoldCondensedOblique') format('svg');
  font-display: swap;
}
