.stars {
  display: inline-block;
  .star {
    height: 1.5rem;
    margin: 0.05rem;
    transition: background-color 0.2s ease-in-out;
    path {
      fill: var(--#{$variable-prefix}gray-300);
    }
  }

  &[data-rating] .star path {
    fill: var(--#{$variable-prefix}teal);
  }
  &[data-rating='0'] .star path {
    fill: var(--#{$variable-prefix}gray-300);
  }
  $half-steps: 0;
  @for $rating from 1 through 5 {
    $half-steps: $half-steps + 0.5;
    &[data-rating='#{$half-steps}'] .star:nth-child(#{$rating}) ~ .star path,
    &[data-rating='#{$half-steps}'] .star:nth-child(#{$rating}) path:nth-child(1) {
      fill: var(--#{$variable-prefix}gray-300);
    }
    &[data-rating='#{$half-steps + 0.5}'] .star:nth-child(#{$rating}) ~ .star path {
      fill: var(--#{$variable-prefix}gray-300);
    }
    $half-steps: $half-steps + 0.5;
  }
}
