/* General - start */
body {
  font-family: 'Helvetica Neue LT Std', var(--theme-font-sans-serif);
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue LT Std Condensed', var(--theme-font-sans-serif);
}

hr {
  color: var(--theme-border-color);
}

#app {
  max-width: var(--theme-container-max-width);
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
}

.container {
  max-width: var(--theme-container-max-width);
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 0.5rem;
}

.col-auto {
  flex: auto;
  padding: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.link {
  color: var(--theme-link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: var(--theme-link-hover-color);
}

#add-customer-review {
  margin: 0 0 0 auto;
}
.fade {
  transition: opacity 0.15s linear;
}
/* General - end */
/* Starts - start */
#modal-add-review .stars {
  cursor: pointer;
}

#modal-add-review .stars:hover .star path {
  fill: var(--theme-teal) !important;
}

#modal-add-review .stars .star:hover ~ .star path {
  fill: var(--theme-gray-300) !important;
}

.stars {
  display: inline-block;
}

.stars .star {
  height: 1.5rem;
  margin: 0.05rem;
  transition: background-color 0.2s ease-in-out;
}

.stars .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating] .star path {
  fill: var(--theme-teal);
}

.stars[data-rating='0'] .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='0.5'] .star:nth-child(1) ~ .star path,
.stars[data-rating='0.5'] .star:nth-child(1) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='1'] .star:nth-child(1) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='1.5'] .star:nth-child(2) ~ .star path,
.stars[data-rating='1.5'] .star:nth-child(2) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='2'] .star:nth-child(2) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='2.5'] .star:nth-child(3) ~ .star path,
.stars[data-rating='2.5'] .star:nth-child(3) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='3'] .star:nth-child(3) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='3.5'] .star:nth-child(4) ~ .star path,
.stars[data-rating='3.5'] .star:nth-child(4) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='4'] .star:nth-child(4) ~ .star path {
  fill: var(--theme-gray-300);
}

.stars[data-rating='4.5'] .star:nth-child(5) ~ .star path,
.stars[data-rating='4.5'] .star:nth-child(5) path:nth-child(1) {
  fill: var(--theme-gray-300);
}

.stars[data-rating='5'] .star:nth-child(5) ~ .star path {
  fill: var(--theme-gray-300);
}
/* Ends - start */
/* Forms - start */

.form-group {
  margin-bottom: 1rem;
}
/* Forms - end */
